{% extends "base.html" %}

{% block content %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.link.label }}: </br>
            {{ form.link(size = 32) }}
            {{ form.submit() }}<br>
            {% for error in form.link.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        </p>
        <p>{{ form.starred() }} {{ form.starred.label }}</p>
        <p>{{ form.read() }} {{ form.read.label }}</p>
        <p>{{ form.dead_link() }} {{ form.dead_link.label }}</p>
        <p>{{ form.header() }} {{ form.header.label }}</p>
    </form>
{% endblock %}