{% extends "base.html" %}

{% block content %}
    <table>
        {% for link in links %}
            {% if link.space == False %}
                {% if link.header == False %}
                    <tr>
                        <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</td>
                        <td>{{ link.starred }}</td>
                        <td>{{ link.read }}</td>
                        <td>{{ link.dead_link }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ link.url }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td>|</td>
                </tr>
            {% endif %} 
        {% endfor %}
    </table>
{% endblock %}