{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Link</th>
                <th>Starred</th>
                <th>Read</th>
                <th>Dead link</th>
                <th></th>
            </tr>
        </thead>
        {% for link in links %}
            {% if link.space == False %}
                {% if link.header == False %}
                    <tr>
                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                            <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
                        </td>
                        <td>{{ link.starred }}</td>
                        <td>{{ link.read }}</td>
                        <td>{{ link.dead_link }}</td>
                        <td><a href="delete?id={{ link.id }}">Delete</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ link.url }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td>|</td>
                </tr>
            {% endif %} 
        {% endfor %}
        {% if prev_url %}
            <a href="{{prev_url}}">Previous page</a>
        {% else %}
            <p style="display:inline">Previous page</p>
        {% endif %}
        |
        {% if next_url %}
            <a href="{{next_url}}">Next page</a>
        {% else %}
            <p style="display:inline">Next page</p>
        {% endif %}
    </table>
    
{% endblock %}
